@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('./fonts/Gilroy-Black.ttf') format('truetype'),
        url('./fonts/Gilroy-BlackItalic.ttf') format('truetype'),
        url('./fonts/Gilroy-Bold.ttf') format('truetype'),
        url('./fonts/Gilroy-BoldItalic.ttf') format('truetype'),
        url('./fonts/Gilroy-ExtraBold.ttf') format('truetype'),
        url('./fonts/Gilroy-ExtraBoldItalic.ttf') format('truetype'),
        url('./fonts/Gilroy-Heavy.ttf') format('truetype'),
        url('./fonts/Gilroy-HeavyItalic.ttf') format('truetype'),
        url('./fonts/Gilroy-Light.ttf') format('truetype'),
        url('./fonts/Gilroy-LightItalic.ttf') format('truetype'),
        url('./fonts/Gilroy-Medium.ttf') format('truetype'),
        url('./fonts/Gilroy-MediumItalic.ttf') format('truetype'),
        url('./fonts/Gilroy-Regular.ttf') format('truetype'),
        url('./fonts/Gilroy-RegularItalic.ttf') format('truetype'),
        url('./fonts/Gilroy-SemiBold.ttf') format('truetype'),
        url('./fonts/Gilroy-SemiBoldItalic.ttf') format('truetype'),
        url('./fonts/Gilroy-Thin.ttf') format('truetype'),
        url('./fonts/Gilroy-ThinItalic.ttf') format('truetype'),
        url('./fonts/Gilroy-UltraLight.ttf') format('truetype'),
        url('./fonts/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(transparent, #783EAD);
    border-radius: 8px;
  }
  
  .xscroll::-webkit-scrollbar {
    height: 5px;
  }
  .xscroll::-webkit-scrollbar-thumb {
    background: linear-gradient(50deg, transparent, #783EAD);
    border-radius: 8px;
  }


